body {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: sans-serif;
}

.is-hidden {
  display: none;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.message > h6 {
    margin: 5px auto;
}

.char{
    border-bottom: 4px solid gray;
    margin: 0px 2px;
    cursor: pointer;
}

.char:hover{
    border-bottom: 4px solid blue;
}

.modal {
  padding: 20px 30px;
  width: 30%;
  max-height: calc(100% - 150px);
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #fff;
  z-index: 9999;
  border-radius: 8px;
}
